/* Main Container */

  .cart-container {
    width: 100%;
    max-width: 412px;
    padding: 20px;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    box-sizing: border-box;
}
  
.error {
  color: red;
  font-size: 14px;
  
}


  
  .cart-header {
    display: flex;
    align-items: center;
    /* font-size: 24px; */
    font-weight: 500;
    padding: 22px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .back-arrow {
    padding-top: 8px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
    
  }

  .cart-header p{
    font-size: 20px;
  }
  
  /* Section Titles */
  .section-title {
    /* font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    display: flex;
    align-items: center; */
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    padding: 22px;
    background-color: #fff;
  }
  
  .icon {
    margin-right: 8px;
    font-size: 20px;
  }
  .address{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    padding: 22px;
    background-color: #fff;
    /* border-bottom: 1px solid #ddd; */
  }
 
  .location-img {
    margin-right: 10px;
    cursor: pointer;
    font-size: 22px;
  }
  .contact_icon{
    margin-right: 10px;
    cursor: pointer;
    font-size: 22px;
  }
  /* Use My Location Button */
  .location-btn {
    width: 100%;
    padding: 10px;
    border: 2px solid #DE0000;
    border-radius: 7px;
    background: none;
    color: #DE0000;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 10px 0;
  }
  
  /* Input Fields */
  .section-contact input,
  .input-field input {
    width: 100%;
    padding: 10px;
    margin: 18px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 14px;
  }
  /* .input-field{
    line-height: 5;
  } */
  /* .contact{
    line-height: 4;
  } */
  
  /* City & State - Side by Side */
  .city-state {
    display: flex;
    gap: 35px; /* Adjust spacing between CITY and STATE */
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 0px;
    display: block;
  }
  
  
  .city-state input {
    flex: 1;
  }
  
  
  
  /* Save Address Button */
  .save-btn {
    margin-top: 120px;
    width: 100%;
    padding: 12px;
    background: #DE0000;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
  }
  

  /* Responsive Styles */
@media (max-width: 480px) {
  .cart-container {
    max-width: 100%;
    padding: 10px;
    
}

    .location-btn{
      width: 100%;
     }
     .save-btn{
      margin-top: 80px;
       font-size: 13px;
     }

}