
  
  .login-container {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    margin: 60px auto;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
  }
  
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .form-group input[type="email"]:focus,
 .form-group input[type="password"]:focus {
    border-bottom-color: #DE0000;
  }
  
  
  .form-group input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #DE0000;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .form-group input[type="submit"]:hover {
    background-color: #DE0000;
  }
  
  .message {
    text-align: center;
    margin-top: 15px;
    color: red;
  }
  